<% @expenses.each do |ex| %> 

  <h2> <%= link_to ex.title, ex %> </h2>
  <h3> How much did it cost? <%= ex.amount %> </h3>  
  <h3> Who paid for this? <%= ex.user.email %></h3>

<% end %>
<h1>You spent: <%= @spent_money.sum("amount") %> </h1>
<h3>Total This week = <%= @expenses.sum("amount") %></h1>
<h1>You owe: <%= (@expenses.sum("amount"))/2) - ((@spent_money.sum("amount")) %></h1>

<br>
<br>

<!-- How much have you paid for stuff this much? -->


<!-- How much have other users? -->


<!-- How much do you owe? -->
