<h1> 
  <%= @expense.title %> 
</h1>

<p> 
  <%= @expense.amount %>
<p>

<p>
  <%= @expense.category_id %>
<p>

<%= link_to "Back", root_path %>
<%= link_to "Edit", edit_expense_path %>
<%= link_to "Delete", expense_path(@expense), method: :delete, data: { confirm: "Are you sure?"} %>
